* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

form {
    padding: 1em;
    margin: 1em;
}

label {
    float: left;
    text-align: left;
    width: 100px;
    padding-right: 10px;
}

label.error,
span.error {
    color: red;
}

input.error {
    background-color: #ffcccc;
}

div.errors {
    border: 2px solid red;
    background-color: #ffcccc;
    padding: 0.5em 0;
    margin-bottom: 0.5em;
}
