<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Customer</title>
        <link rel="stylesheet"
              type="text/css"
              th:href="@{/resources/style.css}"></link>
    </head>

    <body>
        <div id="header" th:include="template_page :: header"></div>

        <div id="content">
            <h1>Welcome to Customer</h1>

            <a th:href="@{/customer/register}">Register</a>

            <br/>

        </div>
        <div id="footer" th:include="template_page :: copy"></div>
    </body>
</html>
